
@keyframe spin {
  0% {transfrom: rotate(0deg);}
  100% {transfrom: rotate(360deg);}
}

.btn {
  background-color: $buttonColor;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  padding: .2rem 1.2rem;
  display: inline-block;
  border-radius: 1rem;

  &--register {
    padding: .75rem 4rem;
    display: block;
    font-weight: bolder;

    &--s{
      padding: .5rem 2rem;
    }

  }

  }

.loadMoreButton {

  margin: 1rem;
  position: relative;

    &--Container{
      margin: 0 auto;
      width: 200px;
      cursor: pointer;

      &:hover{
        transform: scale(1.1);
        }
    }


    &--text {
      color: #fff;
      display: inline-block;
      background-color: $lightPurple ;
      padding:  .3rem 1rem;
      border-radius: 2rem;
      text-align: center;
      position: absolute;
          }


  .spin {

      animation: spin 3000ms infinite linear;
    }

}
