 /* comment List CSS */

.comment-list{

    list-style-type: none;
    
    .comment {
        border-bottom: 4px solid #eee;
        margin: 2rem 1rem;
        padding: 0 2rem 1rem 2rem;

        article{
            display: grid;
            grid-auto-columns: 1fr 3fr;
        }
        

        .comment-body {

            margin: .4rem 3rem;
            position: relative;

            .comment-meta{

                .comment-author{
    
                    margin-top: .6rem;
                    
            
                    img{
                        border-radius: 50%;
                        border: 2px solid $mainGold;
                        left: -3.5rem;
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        
                    }
            
                }

                a{
                    font-size: .8rem;
                    color: rgb(167, 160, 160);
                }

                .comment-awaiting-moderation{
                    display: inline-block;
                    padding: .5rem 1rem;
                    background-color: rgba(#afaaaa , .6) ;
                    font-size: .7rem;
                }

            }

            .comment-content{
                padding: 0 0.5rem 1rem .2rem;

                .stars{
                    margin: 0 0 .5rem -0.2rem;
                }
            }
            
           
        }
    
  
    
    }

}

/*  css for commment summary and comment title just before Comment list  */



.comments-indicator {
margin: 2rem auto;
/* display:inline-block; */
padding: 1rem;
width: 60%;
text-align: center;
background-color: $lightGold;
color: $mainPurple;
}


/* Css for comment navigation  */

.comment-navigation {
    margin-bottom: 2rem; 
}


/* CSS for Comment Form  */

.comment-respond{
    background-color: rgba(240,153,218,.4);
    border-radius: 10%;
    width: 60%;
    overflow:auto;
}

.comment-reply-title{
    margin: 1rem;
    padding-left: 1rem;
    font-weight: 400;
    color:#B19324;

}

.comment-form{
    text-align: center;
}

.comments-rating-container{
    display: inline-block;
    padding: 0 1rem;    

}



.comment-form-textarea{

    display: inline-block;
    margin: 0 auto 1rem auto;  
    width: 80%;	
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    border: solid 2px rgba(240,153,218,.5);
    height: 10rem;	
    resize: none; 
    overflow: auto;	
    
        
    }
    .comment-form-textarea:focus{
        border: solid 3px rgba($lightPurple, .8);	
    }

    .submit-comment{
        position: static;
        display: inline-block;
        margin-bottom: 1rem;

    }
    
    