* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;

}

html {
    background-color: #fff;
    font-family:  'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 1rem ;
  @mixin large {
  margin-bottom: 1.7rem;
  }


}

.hidden {
  display: none;
}



