

/* Login Page */

.login-form {
  background-color: rgba(240,153,218,.5);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;


  &-container{
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    width : 92%;
    margin: 4% auto;
    }

  &--inside{
    display: grid;
    grid-template-columns: 1fr;
  }
    .g-recaptcha{
      margin: 1rem auto;
      width: 304px;
    }



  h2, h3 {
      margin-bottom: 10px;
      font-size: 1.4rem;
      font-style: italic;
      text-align: center;
      color: $mainGold;
  }

  .form-desc{
    font-size: .9rem;
    text-align: center;
    margin-top: 1rem;
  }

    label {
        margin-left: 20%;
        font-size: 1.2rem;
        color: $logoGold;


    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin: .6rem 0;
        padding: 4px;
        font-size: 12px;
        width: 60%;
        align-self: center;
        justify-self: center;
    }

    input.success{
      border-color: green;
      color: green;
    }

    input.fail{
      border-color: red;
      color: red;
    }


    .actions {
        text-align: center;
        margin: 1rem auto;

        a {
            font-size: .8rem;
            margin: .8rem auto;
            display: block;
            strong {
              font-size: 1rem;
              color: $mainGold;
            }
        }
    }


    .register-desc{
      font-size: .7rem;
      margin-bottom: 0;
    }





}

/*  form Validation */

.error {
  display: none;
  color: red;
  font-style: italic;
  margin: 0 0 1rem 1.2rem;
  font-size: .6rem;
  width: 60%;
  align-self: center;
  justify-self: center;
}

.message {
  font-size: .9rem;
  margin : 1.5rem 0;
  text-align: center;

  &-err {
    color: #861C22;
    padding: 1rem 2rem;
    background-color: rgba(255,50,65,.4);
    }

  &-red {
    color: #117031;
    background-color: rgba(97,176,140,.3);
    padding: 1rem 2rem;
  }
}
