

/* Login Page */

.login-form {
  background-color: rgba(240,153,218,.5);
  /* min-height: 350px; */
  /* position: relative; */
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;


  &-container{
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    width : 80%;
    margin: 2rem auto;
    }

  &--inside{
    display: grid;
    grid-template-columns: 1fr;
  }
    .g-recaptcha{
      margin: 1rem auto;
      width: 304px;
    }



  h2, h3 {
      margin-bottom: 10px;
      font-size: 1.4rem;
      font-style: italic;
      text-align: center;
      color: $mainGold;
  }

    label {
        margin-left: 3rem;
        font-size: 1.2rem;
        color: $mainGold;


    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin: .6rem 0;
        padding: 4px;
        font-size: 12px;
        width: 80%;
        align-self: center;
        justify-self: center;
    }

    input.success{
      border-color: green;
      color: green;
    }

    input.fail{
      border-color: red;
      color: red;
    }


    .actions {
        text-align: center;
        margin: 1rem auto;

        a {
            font-size: 1rem;
            text-transform: uppercase;
            display: inline-block;
            margin: 0 4px;
        }
    }


    .register-desc{
      font-size: .7rem;
      margin-bottom: 0;
    }





}

/*  form Validation */

.error {
  display: none;
  color: red;
  font-style: italic;
  margin: 0 0 1rem 1.2rem;
  font-size: .6rem;
}

.message {
  font-size: .75rem;
  margin : 1.5rem 0;

  &-err {
    color: #861C22;
    padding: 1rem 2rem;
    background-color: rgba(255,50,65,.4);
    }

  &-red {
    color: #117031;
    background-color: rgba(97,176,140,.3);
    padding: 1rem 2rem;
  }
}
