.recipeTitle {
  color : $cardTitle;
}

.recipeTopcontainer {
  display: grid;
  grid-template-columns: 2fr .5fr 1.5fr;
  grid-gap: 1rem;
  align-content : center;
  justify-content: center;
}

.recipeInfo {
    color : $cardTitle;
}

.recipeMainImg{

    position: relative;
    bottom: 0;

    img {
   
      display: block;
      width:100%;
    
    }

  
  
  .loveitMadeit-section{
      position: absolute;
      z-index: 2;
      bottom: 4px;
      left: 50%;
      transform: translatex(-50%);
      height: 40px;

      .loveMade-btn-cont {
        position: relative;
        cursor: pointer;
        font-size: 13px;
        height: 30px;
        padding: 0 48px 0 12px;
        color: $lightGold;
        background: #7F0D7C;
        border: 0;
        
        .icon-cont {
          font-size: 20px;
          display: block;
          position: absolute;
          width: 30px;
          height: 30px;
          line-height: 30px;
          right: 0;
          top: 0;
          background-color:rgba(0,0,0,.2);
        }
        .icon {
            display: block;
            position: relative;
            margin : 0 auto;
            top: 50%;
            transform: translatey(-50%);
        }

        .text {
          position: absolute;
          top: 0;
          left: 50%;
          opacity: 0;
          visibility: hidden;
          margin-left: -45px;
          background-color: rgba(0,0,0,.8);
          color: #fff;
          width: 90px;
          height: 30px;
          font-size: 14px;
          line-height: 30px;
          transition: all .2s ease;
      }
    }

    .loveMade-btn-cont:hover .text {
      top: -40px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
  }

      .loveMade-btn-cont.active {
        background-color:$lightGold;
        color: #7F0D7C;
    } 
}
 
}

.recipeMedia {

.recipeImg{
  display: block;
 
    img {
      display: block;   
      transition: transform .5s ease;
    } 
  }

  .recipeImg img:hover{
    transform: rotate(1deg) scale(1.02);
  }
}




/* recipe Info section */





.recipeDesc{
  margin-top: 2rem;
  background-color: $pinkBG;
  padding: 1rem;
}

.recipeRate:hover, .recipeMade:hover{
background-color: purple;
color: #fff;
}


.recipeVideo {
  width: 60%;
  padding: 1rem;
  margin: 1.5rem auto;
  background-color: #8AAF3E;
  text-align: center;
  color:#fff;
  font-size: 1.2rem;
  border-radius: 1rem;
}



/* Body area : like Button ingredient ...*/

.recipeMain {
  display: grid;
  grid-template-columns:  1fr 2fr;
  grid-column-gap: 2rem;
}

.recipeIngredient {
  h2 {
    text-align: center;
    color : $cardTitle;

  }
}

.IngredientDetail {
  background-color: #FFABD5;
  border: 3px solid #ddd;
  border-radius: 3rem;
  ul {
  padding-left: 1rem;
    li {
  font-size: 1rem;

   margin : 1.2rem 1rem;
   color : $ingredDetail;

   }
  }
}

.recipeDirection {
  h2 {
    text-align: center;
    color : $cardTitle;
  }
}

.recipeDirection {
  text-align: justify;
  line-height: 1.6;
  color : $recipeDetail;
}

.similarRecipe {
  h3 {
    text-align: center;
    color : $cardTitle;
  }
}
