/* User profile page Navigation */

.nav-tabs{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 92%;
    justify-items: center;
    grid-gap: 4px;
    

    
  li {
    margin: 4px 0px;
    list-style: none;
    padding: .4rem 0;
    text-align: center;
    border: 1px solid #ddd;
    background-color: $mainPurple;
    border-radius: 6px;
    width: 95%;

    @mixin large {
      border: 3px solid #F043E9;
      margin-right: 3%;
      padding: .4rem 0;
      background-color: blueviolet;

    }

    a{
        color :#fff;
    }

  }

  li:hover{
    /* cursor: pointer; */
    background-color: orangered;

    a {
        color: $mainPurple;
    }
    
}

li.active {
    background-color: gray;
    a{
        color: blue;
    }
}
}


.tab-content {
    
   
    .tab-pane {
        display: block;
        width: 80%;
        background-color: #f5f5f5;
        margin: 2rem auto;

    }
}

/* Reporting Section  */

.profile-rep{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
