$mainGold : #B19324	;
$logoGold : #D4AF37;
$mainPurple : #a4119f ;
$buttonColor : #F043E9 ;
$lightPurple : #F043E9 ;
$lightGold : #FDE380 ;
$cardTitle : #8D164F ;
$recipeDetail : #8A5E5E;
$pinkBG : #F08BEC ;
$ingredDetail : #993A29 ;
